doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="robots", content="index,follow")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(rel="stylesheet", href="css/main.css")

		title Civilization That Is Dying: Interviews with Hieroglyphic Being & J.I.T.U Ahn-Sahm-Buhl | Red Bull Music Academy Daily

		meta(itemprop="name", content="Civilization That Is Dying: Interviews with Hieroglyphic Being & J.I.T.U Ahn-Sahm-Buhl | Red Bull Music Academy Daily")
		meta(itemprop="description", content="Players on Hierglyphic Being & J.I.T.U Ahn-Sahm-Buhl’s We Are Not The First discuss their individual contributions to the far-out LP")
		meta(itemprop="image", content="http://daily.redbullmusicacademy.com/specials/2015-hieroglyphic-rvng-feature/images/jamal_moss.jpg")

		meta(name="description", content="Players on Hierglyphic Being & J.I.T.U Ahn-Sahm-Buhl’s We Are Not The First discuss their individual contributions to the far-out LP")

		//-FB
		meta(property="og:title", content="Civilization That Is Dying: Interviews with Hieroglyphic Being & J.I.T.U Ahn-Sahm-Buhl | Red Bull Music Academy Daily")
		meta(property="og:description", content="Hear individual parts on “Civilization That Is Dying” from Hieroglpyhic Being & J.I.T.U. Ahn-Sahm-Buhl’s cosmic LP We Are Not The First and read interviews with Hieroglyphic Being, Greg Fox, Daniel Carter and more")
		meta(property="og:type", content="article")
		meta(property="og:url", content="http://daily.redbullmusicacademy.com/specials/2015-hieroglyphic-rvng-feature/")
		meta(property="og:image", content="http://daily.redbullmusicacademy.com/specials/2015-hieroglyphic-rvng-feature/images/jamal_moss.jpg")
		meta(property="og:site_name", content="Red Bull Music Academy Daily")
		meta(property="fb:admins", content="100006789941377")

		//-Twitter
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@rbma")
		meta(name="twitter:title", content="Civilization That Is Dying: Interviews with Hieroglyphic Being & J.I.T.U Ahn-Sahm-Buhl")
		meta(name="twitter:description", content="Dig into @rvngintl’s We Are Not The First LP with music and interviews with Hieroglyphic Being, @GDF_X, Ben Vida + more")
		meta(name="twitter:creator", content="@rbma")
		meta(name="twitter:image:src", content="http://daily.redbullmusicacademy.com/specials/2015-hieroglyphic-rvng-feature/images/jamal_moss.jpg")


		link(rel="author", href="https://plus.google.com/+RBMA/posts")
		link(rel="publisher", href="https://plus.google.com/+RBMA")

		link(rel="apple-touch-icon", sizes="57x57", href="icons/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="icons/apple-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="icons/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="icons/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="icons/apple-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="icons/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="icons/apple-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="icons/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="icons/apple-icon-180x180.png")
		link(rel="icon", type="image/png", sizes="192x192", href="icons/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="icons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="icons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="icons/favicon-16x16.png")
		link(rel="manifest", href="icons/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage", content="icons/ms-icon-144x144.png")
		meta(name="theme-color", content="#ffffff")

	body
		nav.main-nav#nav
			a.logo(href="http://daily.redbullmusicacademy.com")
			a.text(href="http://daily.redbullmusicacademy.com") Red Bull Music Academy Daily

			.social
				a.share-icon.facebook(data-site="facebook")
				a.share-icon.twitter(data-site="twitter")

		//- Audio player			
		.audio#audio
			.controls
				.play.off#play
			.instructions#instructions
				p.
					Click individual players above to toggle their parts.

			//-input.scrubber#scrubber(type="range", value="0", min="0", max="100")
			
			.timer#timer

		//-Image left panel
		.beast
			.top
				.player.jamal#item-jamal(data-name="jamal",
					data-fullname="Jamal Moss: Solo Off",
					data-fullname-solo="Jamal Moss: Solo On",
					style="background-image: url('images/jamal_moss.jpg')",
					data-anchor="anchor-jamal")
					.time-info#time-jamal
					.loader#jamal

				.player.shelley#item-shelley(data-name="shelley",
					data-fullname="Shelley Hirsch: Solo Off",
					data-fullname-solo="Shelley Hirsch: Solo On",
					style="background-image: url('images/shelley_hirsch.jpg')",
					data-anchor="anchor-shelley")
					.time-info#time-shelley
					.loader#shelley
			
			.bottom
				.player.greg#item-greg(data-name="greg",
					data-fullname="Greg Fox: Solo Off",
					data-fullname-solo="Greg Fox: Solo On",
					style="background-image: url('images/greg_fox.jpg')",
					data-anchor="anchor-greg")
					.time-info#time-greg
					.loader#greg

				.player.ben#item-ben(data-name="ben",
					data-fullname="Ben Vida: Solo Off",
					data-fullname-solo="Ben Vida: Solo On",
					style="background-image: url('images/ben_vida.jpg')",
					data-anchor="anchor-ben")
					.time-info#time-ben
					.loader#ben

				.player.daniel#item-daniel(data-name="daniel",
					data-fullname="Daniel Carter: Solo Off",
					data-fullname-solo="Daniel Carter: Solo On",
					style="background-image: url('images/daniel_carter.jpg')",
					data-anchor="anchor-daniel")
					.time-info#time-daniel
					.loader#daniel

		//- Main text right panel
		.container

			.title
				p Civilization
				p That Is
				p Dying

				p.title-last  Interviews with Hieroglyphic Being & J.I.T.U Ahn-Sahm-Buhl

			.intro
				p.author.
					By: <span class="author-name"><a href="http://daily.redbullmusicacademy.com/author/aaron-gonsher">Aaron Gonsher</a></span>
				p.
					Hieroglyphic Being & J.I.T.U. Ahn-Sahm-Buhl’s <em>We Are Not The First</em> LP, which came out in October this year on <a href="http://igetrvng.com" target="blank">New York’s RVNG Intl.</a>, is a testament to the improvisational pathways forged at the intersection of humans and machines. Standing in the shadow of Sun Ra, it pushes spiritual jazz in gloriously messy directions. The title is explicitly meant to pay tribute to musical forebearers, but the Ahn-Sahm-Buhl itself represents a supergroup of sorts. It includes flute and sax polymath Elliot Levin, prolific player Daniel Carter of Test, drummer Greg Fox of <a href="http://daily.redbullmusicacademy.com/2012/07/liturgy-hunter-hunt-hendrix-interview">Liturgy</a> and Zs, spoken-word force Rafael Sanchez, nomadic guitarist/bassist Shahzad Ismaily, modular maven Ben Vida, ethereal vocalist Shelley Hirsch and <a href="http://daily.redbullmusicacademy.com/2015/03/marshall-allen-feature">Marshall Allen</a>, a titanic figure in free jazz and original member of Sun Ra’s Arkestra whose mere presence further blesses the proceedings.

				p.
					The center of the storm is Hieroglyphic Being, earth name Jamal Moss, whose desiccated loops and chaotic electronics glue together the project’s divergent genres into a cohesive piece. “Civilization That Is Dying” is the sound of the Ahn-Sahm-Buhl in prime form - powerful yet meditative, referential but not obsequious.

				p.
					Now you can hear members of the ensemble stand out in the maelstrom and read how these distinct creative minds found a common language. <span class="desktop-only">Below, stream “Civilization That Is Dying” and click the images of the performers to hear their standalone parts. Click names to jump to interviews with the individual players on the project and their contributions, or scroll to read all interviews.</span>

				p.
					Interviews have been edited and condensed for clarity. 

			.speaker(id="anchor-jamal")
				
				h2.one Jamal Moss

				.mobile-image
					img(src="images/jamal_moss.jpg")

				.question
					p Can you talk about how the project was initially pitched to you?

				p.
					Matt from RVNG approached me a couple years ago. It was brought up about doing something for his label but he didn’t go into overdrive until maybe close to three years ago. Me, I didn’t feel like how what I do would incorporate into his world, his brand, his aesthetic and his targeted audience. I just didn’t see the two worlds meshing. His audience is way broader in perspective and scope than what I’m used to. I’m not saying I was doubting myself, I just didn’t see the relevance of it all. We started talking more about it over dinner once when I was in New York, then we came to an idea of trying to have me do what I do with machines with human beings.

				p.
					I said, “Okay, give me a moment to come up with concepts and some ideas and figure how to make it work.” I’ve worked with people before but it’s only dealing with machines and sitting in the studio. I’ve never worked with actual, seasoned musicians in a live, organic setting. It wasn’t a bunch of geeks with drum machines or the newest studio synth, it’s a whole different realm of what I’m used to. I had to research and digest how to formulate what I needed to bring to the table to make it cohesive. Matt sat down with some other people he knew in his clique and figured out other artists to bring in. He submitted some ideas of people. He gave me a treatment of what they did as artists and how they play, to give me an idea of what I needed to formulate on my end.

				p.
					I’d seen the videos and I sat at home and I came up with sound sketches. I designed a lot of the background music or instrumentals or beats at home, and made a couple videos that had me playing the flute or horn on this electronic instrument, to give an idea of what I wanted. I sent to him to send to the other artists. I don’t know if he actually did it. I don’t know how far along in the process it was actually done. Maybe he wanted it totally raw. Not too much intervention or too much preparedness and see how it would go in the studio.

				p.
					Some stuff was improv. I would speak to the artist and be like, “This is an idea of the concept that I have.” “The sound track to <em>Blade Runner</em>, do you remember that?” Or I could say, “Do you remember this song by Herbie Hancock? I like that sound aesthetic, here are some backing rhythm tracks that’s close to what’s going on, what he was doing back in the ’70s. Can you improvise on top of that and use this type of sound signature or this type of vibrant energy?” They’re musicians. They were quick to move and incorporate, to improv on top of it.

				.question
					p.
						Can you give me an example of a specific track on <em>We Are Not The First</em> where you remember a specific instruction that you gave to people and how it manifested in the actual track?

				p.
					For “Civilization That Is Dying” I came up with the whole concept, the branding, the terminology, the philosophy behind it. I sat with Shelley and I gave her one of the books I was reading. It was an Illuminati Bible. I had this other book I brought with me, some literature that I read, and I would be like, “Take ideas from this. Circle something.” I would say, “Take something from this and incorporate it with your vocality.” She’ll lay what she lay and me and Ben Vida would sit there and improvise on top of the sound she was doing based on the written concepts from the books that I read or the ideas that came up that I wanted her to follow.

				p.
					The tone was set but a lot of it wasn’t formulated properly until me and the studio engineer sat down and rearranged everything for the right sequencing it needed to be, because a lot of it was overdubbing. All the artists wasn’t there all on the same day. It was like somebody would come in one day and they’d hear the stuff and we’ll discuss and I’d give ideas of the sound direction and scope I wanted to go.

				.question
					p.
						Of the people that Matt had suggested, how many of them had you been aware of their work previously? When you met them eventually, how many of them had been aware of your work?

				p.
					I just do what I do to do. It’s just like breathing. I don’t do it to walk out the door and say, “I am Hieroglyphic Being. Worship me by telling me what I have done.” I don’t know this stuff until people come to me and tell me what they like or they don’t like. When I got introduced to these artists, of course I’ve heard of Marshall Allen. It’s been one of those things, people have been trying to bring us together for years. The man does what he does for the last 50-something years with his group of people and his tribe and they do what they do. He just took time out to come in to bless this project with his energy. That’s how I look at it.

				.question
					p What was the concept for “Fuck The Ghetto?”

				p.
					It was just like, we hate the glorification of the ghetto. You don’t see Jews running around talking about bling-bling with the ghettos of Germany during the Holocaust. In my mind, I’m thinking, “Why would minorities or poor whites sit there and embrace something that’s not good for them?” It’s only so far when you realize you can see true ignorance and a degradation of a culture in the society to a point. You have a chance to speak about it. You can complain about it, but we have a chance to inject into the consciousness of society. We might only be hitting 0.005% of society through this project but the few people we can reach, maybe it will reach some other people and some other people to say, “We got to think bigger than the scope of what this is.”

				p.
					There’s nothing glorious or beautiful about the ghetto. No. Nobody wants to be there. Nobody wants to be part of that. Somehow the powers that be, and I’m talking about the conspiracy theory, that somehow made the ghetto wonderful to be in. No, fuck that. No. No, it’s not. I think everybody should live a wonderful commonality in life, when it comes to basic needs. When it comes to education, health, living standard, economics. Everything else that comes to material things, get your hustle on But I don’t think nobody should be in a depraved environment and somehow brainwashed in to believing this is the end-all be-all, the bling bling. “Embrace this, this is it. This is your level of expectancy in life.” No.

				p.
					You should exceed to a higher expectation. Space is where it’s at. The sky’s the limit. That’s the term to think about outer space. The sky is the limit.

				.question
					p.
						You talked about Matt saying they wanted you to do with humans, what you normally do with machines. What sort of limitations do you have working with machines that don’t exist when you’re working with humans? What sort of limitations do you experience working with humans that you don’t get with machines?

				p.
					It’s funny, because it’s not truly about limitation. Things only become limited if your mental disposition allows you to be limited. I can do stuff with machines that other people couldn’t even fathom or conceive of. A lot of times I’ll do stuff with machines that people assume I sample. All the stuff that happened with <em>We Are Not The First</em>, I’m grateful that RVNG allowed me to come in and do that. Even though I’m rusty or I’m new to the process, I was able to get into the most polished point at that point in time my mental capacity could. That’s how I’m limited in scope, because I’d never been in a full fledged studio like that and working with a numerous amount of human energy.

				p.
					The only limitation that would come about with me working with them is the fact that we didn’t have time to practice or rehearse or dig deeper to go really out there. That was the only limitation, because there was only time allotted for a certain period of time to get certain things done. It ain’t like we gig together. It ain’t like we went out and jammed together to get a synergistic feel, to be really intrinsic, we’re taking the project to a deeper level. I think the way the project is is not bad for a first go-around.


			.speaker#anchor-ben
				
				h2.two Ben Vida

				.mobile-image
					img(src="images/ben_vida.jpg")

				.question
					p.
						When you knew that you were going to do an album with Jamal, is there any way that you tried to prepare specifically for these sessions, or did Matt at RVNG give you any of his music as Hieroglyphic Being?

				p.
					There was a Herbie Hancock track from the <em>Head Hunters</em> record that Matt had suggested. There was a specific sound in that track that was interesting to Jamal. I thought a little bit about what kind of system to bring out. Would I bring a modular system in, or Minimoogs, something with the keyboard? The first day of sessions I had a modular system and then after getting to know the vibe a little more, the next day I brought in the Minimoog. Actually, Moog Voyager.

				.question
					p.
						What made you feel like you wanted to switch over from the modular at that point?

				p.
					I really liked how the modular worked, but I felt like it was leading some of the music into more of an abstract place. After the first day of sessions, I wanted to be able to contribute some more melodic ideas. A keyboard synthesizer is just, for me at least, a more direct way of communicating those kinds of ideas. I think I was only in two days. Shelley Hirsch was in there the first day with me. Those sessions were really interesting. They were really speaking to more of a history of a certain kind of avant-garde, not dance music and certainly not free jazz or spiritual jazz, but something more in line with a certain kind of European electronic music, European experimental vocal music. The next day, Daniel [Carter] came in, and that was much more hinting at this other world, the world that the LP really ended up occupying.

				.question
					p What world is that?

				p.
					Something that’s more of a expansion on a certain kind of spiritual jazz. I’m not exactly sure what the term would be. It’s sort of like an Afro-Science Fiction, or something that is an expansion of Sun Ra. Maybe not directly musically, but conceptually.

				p.
					I brought in an expansive collection of modules, and that was basically how I prepared, having enough choices so that I could, at the spur of the moment, patch up something that would really fit the musical situation. I wanted to be able to create a lot of rhythmic gestures and things like that, and to be really propulsive. So I brought in some fast ADSR’s and a bunch of nice sounding filters. I wanted to be able to venture into the language of acid and how I perceive some of the sonic language of those dance styles functioning. Like in acid, it’s a really great, skronky filter sound. That classic acid sound, where it feels like it’s about to feedback on itself at any moment and it’s very elastic. Or being able to have little punchy chords. The reality of the situation was the language that I just use in my own solo music communicated really clearly with Shelley and Jamal.

				.question
					p.
						What sort of language did Jamal use when he was trying to convey certain musical ideas to you? I was wondering if there was any tension, not in the negative sense, but a period during which everyone had to figure each other out, and how to get on the same page musically.

				p.
					Maybe there was a moment of recalibration with Jamal and Shelley and I, but I feel like Jamal and Matt did a fantastic job curating people in that there was no feeling of hierarchy based on any education or skill set or anything like that. It felt like people were coming in very open to illuminating Jamal’s ideas. Jamal’s ideas were communicated in some ways I would consider to be somewhat abstract conceptual language, but even within that, a vibe or a sensibility was certainly communicated to us. Everyone who came in were really great listeners and great improvisers. I don’t think Jamal had to communicate that much verbally, because his music communicates so much in and of itself.

				p.
					We did a lot of tracking. Over the course of two days we did hours of tracking. It wasn’t like anything was necessarily going to be permanently wed to the track that I was working on. A lot of the stuff that Shelly and Jamal and I did was venturing into a much more abstract place, at least rhythmically.

				p.
					One thing that was communicated really clearly, both by Matt but definitely by Jamal, was that he was excited that this was a collaborative effort. Though the Ahn-Sahm-Buhl wasn’t going to get the chance to play all together in the studio at one time, it was a collection, an ensemble, and a collaborative effort. He was very interested in foregrounding that and making sure that it was really clear who was contributing and that it was this larger group mind that was forming these tracks.

			.speaker#anchor-shelley
				
				h2.three Shelley Hirsch

				.mobile-image
					img(src="images/shelley_hirsch.jpg")

				.question
					p.
						Had you been familiar with RVNG or with Jamal’s music before being asked you to participate?

				p.
					Only what they turned me on to. I was excited because I’d love to participate in more dance music and I love improvising with all different people so I thought, “Oh, that’ll be very interesting,” and so I agreed to do it.

				.question
					p.
						Do you remember any points of reference that Jamal  asked you to apply or incorporate?

				p.
					No phrases or anything like that, because it was really free improv. We had a long-lasting session. I think at one point he said, “Maybe give us something more operatic,” or he heard something that I’d be doing and then say “How about this?” I was coming out with words anyway, or he might have said a sentence and, “Play with this,” but I don’t think that ended up on the CD.

				.question
					p.
						What was your reaction when you heard the final product? I assume that you’ve listened to the album and your voice on it.

				p.
					To be honest, I haven’t. It seems they took what I did complete in one session and laid it over other tracks, so that was very interesting. I would do certain things a little differently, like, I probably might have added more reverb to my voice. It’s interesting how other people use what I was doing, or I did it in one context and it was graced in another, which was interesting to listen to.

				.question
					p.
						You mentioned the reverb specifically, but was it a drastically different result on “Civilization That Is Dying” from what you had initially anticipated?

				p.
					It was such a long time since I’d heard the initial session that I can’t tell. I really appreciate what they did, but I recognized that it was different than what I’d sung. I’m curious to see what happens if and when we perform the material, because that’ll feel very different.

			.speaker#anchor-greg
				h2.four Greg Fox

				.mobile-image
					img(src="images/greg_fox.jpg")

				.question
					p.
						When he approached you about the album what sort of background did Matt give you in terms of what his intentions were or how he had petitioned it to Jamal, as well?

				p.
					I kind of got the impression that this was a collaboration between Matt and Jamal to try to see what would happen if they brought a bunch of instrumentalists together and then have that become material for a Hieroglyphic Being record. I didn’t really know that there was going to be any kind of ensemble name or really what the outcome of it was going to be. It was basically, “Yeah, we’re going to be doing these days in the studio with these people and then it will go from there.” I was there for two days and Jamal was there the whole time. I played with Marshall [Allen] and Elliot Levin was there for a little while. Rafael [Sanchez] was there. I was there drumming when he was there recording the “Fuck the Ghetto” vocals.  Shelley, Ben, and Daniel were the only three people on the record who I didn’t actually share physical time in the studio with.

				.question
					p.
						How did Jamal frame the feedback he had when he was trying to give you specific input on a certain phrase or feeling that he wanted to accomplish?

				p.
					It was very much a dialogue. Because I don’t think he had much of a familiarity with my playing - it was Matt who brought me in there - I think there was an element of getting to know each other musically. Which is kind of a wild thing to do in a day when you’re going straight to track. It was pretty seamless. I’m not a classically trained musician by any means. I’ve studied with a few people in a mentorship situation with drummers, but I’m not a conservatory guy or anything. I felt like Jamal definitely had a kind of openness to him. I also do electronic stuff so I think it wasn’t too hard to find some kind of common ground to work with.

				p.
					I get asked relatively often to play with people or do my thing with people and I’ve learned that can be a very weird territory to negotiate because of people’s differing ideas and understandings of how ownership and contribution work. I remember at that time, because of some other situations that I had been in around then, being a bit guarded because there was a certain amount of amorphousness to the project and I wasn’t totally sure what was going to be done with the stuff I was recording or where it was going to go. I think what I came away from it with was to move back into more of a middle ground between being guarded and being trusted in a new situations. Ultimately, it proved to be very positive.

				.question
					p.
						What was your reaction the first time you heard the record?

				p.
					There’s a lot of stuff going on in the tracks that I’m playing on that wasn’t going on when I was in the studio. Daniel Carter and I had done a bit of playing together, but we didn’t do any actual playing together on this record, so the places on the record where we are playing together I find to be really interesting. It strikes me as being an interesting approach to making improvised music recordings. That’s a magical thing that happened there.

				p.
					Besides a few Facebook Messenger exchanges I haven’t talked to Jamal since we were in the studio. But we did talk about what his intentions were and where he was coming. We were definitely on the same page with all the thought that was going into it both musically and politically. Especially in retrospect that has ended up being a big part of what’s satisfying for me about the record. There is a concern with the state of things and changing things and I think that there is not enough of that kind of messaging in music right now, or at least in the stuff that I tend to encounter.

				p.
					I appreciate it. I can’t claim any of it as being mine because, like I said, I was just brought in to play. I take my craft seriously, and sometime’s I’m in the driver’s seat and sometimes I’m just the drummer. I’m really happy with both situations depending on the clarity and level of communication that’s at play and in this case I think it was actually really successful.


			.speaker#anchor-daniel
				
				h2.five Daniel Carter

				.mobile-image
					img(src="images/daniel_carter.jpg")

				.question
					p.
						Had you looked up any of Jamal’s music before meeting?

				p.
					I was very unfamiliar with it, and, when this came about I listened further. It’s almost like a Jackson Pollock painting to me. The density of it is so great, and then you have to just settle down and start to listen to the details. For years, ever since the mid-late ’70s, the emergence of hip hop and the DJ, drum n’ bass, I’ve always been interested in doing something along those lines. I was very inspired by Sugarhill Gang and “Rapper’s Delight” and always wanted to do something with that kind of thing. Since then, you have all kinds of DJs, all kinds of drum and bass and acid jazz and this and that. I don’t even know the categories.

				p.
					It’s largely eluded me, as far as being able to do something regularly with people that are doing things along those lines. I’ve always loved Miles Davis, the electric stuff that he did, and playing with groups like that has eluded me. I’m more associated with the free jazz  thing, and there seemed to be some big gaps between these genres.

				p.
					Even though in New York City you can find everything, I had to realize that I was walking along certain paths and these other people were walking along certain other paths, so when I had a chance to do this and meet Jamal and talk with him, briefly, because he was just in for that day  - I think I only did one day at the studio - I mentioned to him my enthusiasm, and that hopefully this kind of thing wouldn’t just be a one-off, though I know it’s a pretty monumental project, you can’t just do that stuff every day.

				.question
					p Which instruments had you brought?

				p.
					The instruments I bring to gigs and recordings would be flute, clarinet, trumpet, alto saxophone, tenor saxophone, soprano saxophone. I can’t remember if I brought my whole arsenal. It would be either all those I mentioned, or minus the clarinet and flute.

				.question
					p.
						Were there other musicians other than Jamal on the day you came in?

				p.
					That was one of the things that, for me, was a little frustrating, just because I’m so used to live interaction, people in the same room playing with each other. Although I’ve done some recordings in the past, just the way that I did that, listening to tracks and playing on them. He played on a couple of things, other things, he didn’t play. Even when he played, there wasn’t necessarily a sense of playing live with someone. There might have been a track where there was just he and I, just the two of us, but I can’t recall that. Most of it was playing to a lot of stuff that was already laid down.

				.question
					p.
						When I spoke to Jamal he had said that he was nervous before the sessions, because he doesn’t have any sort of traditional musical education. As someone who has worked with so many different people, how do you think that frames the interaction, if at all, when someone is approaching a situation from a more traditional angle, classically trained, versus a musician who’s self-taught?

				p.
					I feel like that’s not a problem. The first time ever heard hip hop, which I guess was 1978, Sugarhill Gang were probably doing stuff that none of us were aware of before that. I just felt like,  “Wow, these people are doing something,” regardless of their “musicianship” in any kind of conventional way. These people, to me, are musicians, because they are coming up with music that’s inspiring, and so I feel the same way about DJs or now, the people who know how to put stuff together with computers, music software and samples, or whatever they do to do it.

				p.
					Ironically, it might have been the fact that they didn’t have that background. If they had had a lot of that background, it might have inhibited them from doing what they’ve been able to do. I can imagine that some of those musicians, I’ll call them musicians, might have some reservations about what they might think about their lack, in terms of formal education, musical training or whatever. I ran into a little bit of that with punk musicians. That is, many of the jazz musicians and probably many rock musicians and soul music, funk musicians, could look down their nose, to some extent, at the hardcore punk players, and I think that there’s been, in some degree on the part of some jazz musicians, or free jazz musicians, with respect to the hip hop or dance music, DJ stuff, it’s considered not as serious, whereas I think it’s deadly serious. I mean, Jamal carries himself with confidence, so I wouldn’t have known anything like that, that he felt that.

				iframe.iframe-audio(width="100%",
					height="450",
					scrolling="no",
					frameborder="no",
					src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/223850310&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")

				p.iframe-audio-caption.
					Listen to “Civilization That Is Dying” in its full form from <a href="http://igetrvng.com" target="blank">RVNG Intl.</a>









			p.end-social
				span.share-icon.twitter(data-site="twitter")
				span.share-icon.facebook(data-site="facebook")


			footer#footer
				img.footer-logo(src="images/footer-logo.svg")

				.footer-title Red Bull Music Academy Daily

				p.footer-text.
					The Red Bull Music Academy Daily is the online publication by the Red Bull Music Academy, a global music institution committed to fostering creativity in music. Just like the Academy, we think of it as a platform for the essential ideas, sounds and people that have driven – and continue to drive – our culture forward.

				.sitemap
					.cell
						.link
							a(href="http://www.redbullmusicacademy.com") Red Bull Music Academy
						.link
							a(href="http://www.redbullmusicacademy.com/about") About
						.link
							a(href="http://www.redbullmusicacademy.com/events") Events
						.link
							a(href="http://www.redbullmusicacademy.com/lectures") Lectures

					.cell
						.link
							a(href="http://daily.redbullmusicacademy.com/") RBMA Daily
						.link
							a(href="http://daily.redbullmusicacademy.com/features") Features
						.link
							a(href="http://daily.redbullmusicacademy.com/interviews") Interviews
						.link
							a(href="http://daily.redbullmusicacademy.com/nightclubbing-features") Nightclubbing
						.link
							a(href="http://daily.redbullmusicacademy.com/studio-science") Studio Science
						.link
							a(href="http://daily.redbullmusicacademy.com/videos") Videos
						.link
							a(href="http://daily.redbullmusicacademy.com/galleries") Galleries

					.cell
						.link
							a(href="http://www.rbmaradio.com/") RBMA Radio
						.link
							a(href="http://www.rbmaradio.com/categories") Interviews & Features
						.link
							a(href="http://www.rbmaradio.com/categories/live-recordings-mixes") Live Recordings & Mixes
						.link
							a(href="http://www.rbmaradio.com/categories/local-spotlights") Local Spotlights

					.footer-social
						a(href="http://www.facebook.com/RedBullMusicAcademy")
							.social-icon.facebook
						a(href="http://twitter.com/rbma")
							.social-icon.twitter
						a(href="http://www.youtube.com/user/redbullmusicacademy")
							.social-icon.youtube
						a(href="http://www.vimeo.com/redbullmusicacademy")
							.social-icon.vimeo
						a(href="http://www.redbullmusicacademy.tumblr.com/")
							.social-icon.tumblr
						a(href="http://www.soundcloud.com/redbullmusicacademy")
							.social-icon.soundcloud
						a(href="http://www.instagram.com/redbullmusicacademy")
							.social-icon.instagram

					.footer-legal
						p
							span © Red Bull 2015 |
							span 
								a(href="http://www.redbullmusicacademy.com/p/terms") Terms & Conditions |
							span
								a(href="http://www.redbull.com/en/data-privacy-policy") Privacy Policy |
							span
								a(href="http://www.redbullmusicacademy.com/p/legal-notice") Legal Notice |
							span
								a(href="http://www.redbullmusicacademy.com/p/contact-us") Contact Us |
							span
								a(href="http://www.redbullmusicacademy.com/p/newsletter") Newsletter





		script(src="js/bundle.js")